<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disco_NavWebServiceConsuming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Disco_NavWebServiceConsuming.Properties.Settings>
            <setting name="Disco_NavWebServiceConsuming_CustLedgEntries_CustLedgEntries_Service"
                serializeAs="String">
                <value>http://192.168.2.133:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/CustLedgEntries</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_Customer_Card_CustomerCard_Service"
                serializeAs="String">
                <value>http://192.168.2.133:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/CustomerCard</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_GLEntries_GLEntries_Service"
                serializeAs="String">
                <value>http://192.168.2.133:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/GLEntries</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_Vendor_Card_VendorCard_Service"
                serializeAs="String">
                <value>http://192.168.2.133:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/VendorCard</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_VendorLedgEntries_VendorLedgEntries_Service"
                serializeAs="String">
                <value>http://192.168.2.133:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/VendorLedgEntries</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_BankLedgEntries_BankLedgEntries_Service"
                serializeAs="String">
                <value>http://192.168.2.133:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/BankLedgEntries</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_CustPostGrp_CustPostGrp_Service"
                serializeAs="String">
                <value>http://10.1.1.115:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/CustPostGrp</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_GLAccount_GLAccount_Service"
                serializeAs="String">
                <value>http://10.1.1.115:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/GLAccount</value>
            </setting>
            <setting name="Disco_NavWebServiceConsuming_BankList1_BankList_Service"
                serializeAs="String">
                <value>http://10.1.1.115:9005/dynamicsnav2013/ws/CRONUS%20France%20S.A/Page/BankList</value>
            </setting>
        </Disco_NavWebServiceConsuming.Properties.Settings>
    </applicationSettings>
</configuration>